html {
    font-size: 30px;
}

#percentages {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

#percentages div {
    background-color: #e5989b;
    width: 70%;
    height: 20%;
}


#ems h2 {
    /* font-size: 1em equals the font-size of the parent */
    font-size: 2em;
    /* With other properties, 1em is equal to the computed font-size 
    of the element itself */
    margin-left: 1em;
}

#ems h3 {
    font-size: 1.5em;
}

#ems p {
    font-size: 1em;
}

#ems {
    font-size: 15px;
}

#ems ul {
    font-size: 0.9em;
}

button {
    font-size: 1em;
    padding: 0 1em;
    /* if we do not use em, the border-radius would not grow as size
    but would remain the same abs look */
    border-radius: 0.5em;
    background-color: #2a9d8f;
    color: white;
}


#rems h2 {
    font-size: 3rem;
}

#rems h3 {
    font-size: 2rem;
}

#rems ul {
    font-size: 1.5rem;
}

#rems button {
    font-size: 1.5rem;
}